/* set global style for website */
body {
  background-color: #093f46;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height:100vw;
}

/* style page heading and navbar */
.header {
  color: white;
  text-align: center;
  background-color: #00aac1;
  display: flex;
  flex-direction: column;
  border: 5px outset white;
  font-size: 150%;
}

#headerTitle {
  margin-top: 1%;
}

/* style navigation bar used on all pages */
nav {
  overflow: hidden;
  justify-content: space-between;
  display: flex;
  border: 5px outset white;


}

nav ul {
  color: #c4f8ff;
  list-style-type: none;
  margin: auto;
  padding: 14px 16px;
  text-align: center;
  border-collapse: separate;
  border-spacing: 5px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

nav li {
  float: left;
  text-align: center;
  flex-grow: 1;
}

#contactflex {
  display: flex;
  flex: 1;
  flex-direction: row;
}

nav li a {
  color: aqua;
  text-align: center;
  font-size: x-large;
}

/* style what happens when a mouse is over a navbar button */
nav li a:hover {
  background-color: #d6e2dd;
  color: black;
}


.content, img {
  width: 30%;
  height: 65%;
}

/* genereic style for content on all pages */
.content {
  font-size: 110%;
  margin-top: 2%;
  margin-bottom: 1%;
  background-color: #00abc19f;
  border: solid #00aac1;
  padding-left: 2%;
  padding-bottom: 1%;
  width: 100%;
  height: auto;
}
/* style content on home page */
#home-content {
  margin-bottom: 6%;
}

/* style customer info form */
.form {
  margin-top: 2%;
  margin-bottom: 1%;
  background-color: #00abc19f;
  border: solid #00aac1;
  padding-left: 2%;
  padding-bottom: 1%;
  width: 50%;
}

#submit {
  margin-top: 0.3%;
  width: auto;
}

#message {
  min-height: 100px;

}

#message,
textarea {
  width: 60%;
}


label, input, textarea {
  display: block;
  width: 20%;
  box-sizing: border-box;
}

/* style title of page */
.page-title {
  text-align: center;
}
.page-title h1 {
  border: outset white;
  background-color: #08d8dbd9;
}
/* style sliding gallery of photos */
.carousel {
  padding-top: 1%;
  height: 25%;
  width: 100%;
}
.carousel-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: relative;
}

.carousel-container img {
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  margin-left: 0;
  transition: opacity 1s ease-in-out;
  animation: slide 40s infinite;
}

.carousel-container img:first-child {
  opacity: 1;  
}
.carousel-container img:nth-child(2) {
  left: 100%;
}

.carousel-container img:nth-child(3) {
  left: 200%;
}

.carousel-container img:nth-child(4) {
  left: 300%;
}

/* Define the CSS animation for the sliding effect */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

/* style section with id "about page" */
#about-page {
  display: flex;
  flex: 1 1 auto;
  gap:5%;
  background-color: #08d5d7;
  height: 60%;
  border-top: 3px solid black;
}

/* style elements in the div class "about-content" */
.about-content {
  display: flex;
  flex: 3 3 auto;
  gap: 1.5%;
  background-color: #08d8dbd9;
}
/* style images section of the about page */
.about-content .images {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 5%;
}
/* style each image in the about page */
.about-content .images img {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-buttons button {
  height:100%;
  background-color:#093f46e2;
  border: solid;
  border-top: none;
}
.about-buttons {
  display: flex;
  flex-direction: column;
}
.about-content .content {
  flex: 1 1 auto;
  background-color: #08d8dbd9;
  border: 1% black ;
}

.about-buttons .active {
  background-color:#08d8dbd9;
  border-right: none;
}
.about-content:not(.active) {
  display: none;
}
/* style info-bar at bottom of page*/
footer {
  display: flex;
  padding: 1%;
  height: 3%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  color: #c4f8ff;
  width: 100%;
}